@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary-color {
  @apply bg-amber-200;
}

.bg-accent-color {
  @apply bg-amber-300;
}

a:focus,
button:focus {
  @apply outline-emerald-600 outline-offset-2;
}

.icon-button {
  @apply bg-amber-400 hover:bg-amber-500 focus:bg-amber-500 text-black hover:text-black h-8 w-8 grid place-content-center rounded-md;
}

button {
  @apply cursor-pointer;
}

.link-color {
  @apply text-amber-700 hover:text-amber-800;
}

article a {
  @apply link-color underline-offset-2 underline hover:underline;
}

.biography > * {
  @apply pb-3;
}

.biography > *:last-child {
  @apply pb-0;
}

.biography p:has(strong) {
  @apply pb-1;
}

.article-body p,
.article-body ul,
.article-body iframe {
  @apply mb-6;
}

.article-body q {
  @apply block;
}

.article-body ul {
  @apply list-disc list-inside ml-4;
}

.article-body h2 {
  @apply text-3xl font-bold mb-4 pb-2 border-b-2 border-amber-400;
}

.article-body h3 {
  @apply text-2xl font-bold mb-2;
}

.article-body blockquote {
  @apply border-l-2 border-amber-400 pl-4 mb-4;
}

.article-body blockquote p {
  @apply mb-0;
}

figcaption {
  @apply text-sm text-neutral-700 lg:ml-4 mb-6;
}

.article-body img {
  position: relative !important;
  @apply w-full mb-3 rounded-md;
}

.article-body figure:has(> img) {
  @apply lg:-mx-6 relative;
}
